
	<div class='body-area'>

		<h1 class='huge'>Encore Project Status</h1>

		<div class='section'>

			<p>Encore is in its infancy and needs contributors. The framework is composed mainly
			of independent modules, adhering to the unix philosophy.</p>

			<p>Features still not addressed:</p>

			<ul class='list'>
				<li>Needs a clean and simple ORM.
					<ul>
						<li>Cleaner ORM could be built atop abstraction layer for both RDBMS &amp; future NoSQL engines?</li>
					</ul>
				</li>
				<li>Should have better error handling around view rendering.</li>
				<li>Using view layouts could probably be simplified.</li>
				<li>Will eventually need a CLI tool or built-in REPL.</li>
				<li>Currently lacks any features for auth, CSRF, etc. Include Passport or Connect?</li>
				<li>Needs a module for email handling.</li>
				<li>Socket.io integration?</li>
			</ul>
		</div>
	</div>
