
	<div class='body-area'>

		<h1 class='huge'>Encore Project Status</h1>

		<div class='section'>

			<p>Encore is in its infancy and needs contributors. The framework is composed mainly
			of independent modules, adhering to the unix philosophy.</p>

			<p>Features still not addressed:</p>

			<ul class='list'>
				<li>Automated response header writing and buffer length calculation.</li>
                <li>Needs a clean and simple ORM?
                    <ul>
                        <li>Atop abstraction layer compatible w/ RDBMS's &amp; future NoSQL engines(?)</li>
                        <li>Any good existing RDBMS ORMs for node? Bookshelf.js? Backbone-ORM?</li>
                        <li>Perhaps none should be pre-packaged?</li>
                    </ul>
                </li>
                <li>Should have better error handling around view rendering.</li>
                <li>Using view layouts <em class='i'>could</em> to be built-in? Should remain template engine agnostic.</li>
                <li>Will eventually need a CLI tool or built-in REPL.</li>
                <li>Currently lacks any features for auth, CSRF, etc. Include Passport or Connect?</li>
                <li>Needs a module for email handling.</li>
				<li>Front-end framework of same structure &amp; simple abstracted communication layer?
					<ul>
						<li>Build process would run at launch, structure would be identical to backend.</li>
						<li>Socket.io integration?</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
