
<!DOCTYPE html>
<html>
<head>
    <title>Encore Framework</title>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:300,400' rel='stylesheet' type='text/css'>
    <style type='text/css'>
        {{{ stylesheet }}}
    </style>
</head>
<body>
    <a href="http://opensource.nodejitsu.com/">
      <img
      style="position:absolute; top:0; left:0; border:0"
      src="//www.nodejitsu.com/img/media/foss-l-blue.png"
      alt="Apply for the Nodejitsu free for Open Source program">
    </a>
    <ul class="nav">
        <li><a href="/">Intro</a></li>
        <li><a href="/docs/how-tos">How-To's</a></li>
        <li><a href="/docs/docs">Docs</a></li>
        <li><a href="/status">Status</a></li>
    </ul>
    {{{ yield }}}
</body>
</html>
